body {
  margin: 0;
  // height: 100%;
  font-family: Rubik-Light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  // padding: 4%;
  // font-size: large;
  direction: rtl;
}
@font-face {
  font-family: Rubik-Light;
  src: url(../public/fonts/Rubik/Rubik-Light.ttf);
}
@font-face {
  font-family: ShantellSans-BoldItalic;
  src: url(../public/fonts/ShantellSans/ShantellSans-BoldItalic.ttf);
}
@font-face {
  font-family: ShantellSans-Light;
  src: url(../public/fonts/ShantellSans/ShantellSans-Light.ttf);
}
@font-face {
  font-family: Mukta-Light;
  src: url(../public/fonts/Mukta/Mukta-Light.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(../public/fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: Rubik-Light;
  src: url(../public/fonts/Rubik/Rubik-Light.ttf);
}
@font-face {
  font-family: OpenSans-Regular;
  src: url(../public/fonts/static/OpenSans/OpenSans-Regular.ttf);
}


// button:hover {
//   background-color: rgba(176, 196, 222, 0.838);
//   box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
// }
// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
// }
// h1 {
//   font-family: Georgia, "Times New Roman", Times, serif;
// }
#imgopen {
  width: 100%;
  height: auto;
}

// #inputEnter {
//   width: 30%;
//   padding: 12px 20px;
//   margin: 8px 0;
//   display: inline-block;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   box-sizing: border-box;
// }

// #toSubmitEnter {
//   width: 30%;
//   background-color: #4caf50;
//   color: white;
//   padding: 14px 20px;
//   margin: 8px 0;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
// }

// #toSubmitEnter :hover {
//   background-color: #45a049;
// }

// #date {
//   float: left;
// }

// table {
//   border-collapse: collapse;
//   border-spacing: 0;
//   width: 100%;
//   border: 1px solid #ddd;
// }

// th,
// td {
//   text-align: left;
//   padding: 16px;
// }


/*.navbar {
  overflow: hidden;
  background-color: lightsteelblue;
}
.navbar button {
  float: right;
  font-size: 20px;
  color: lightsteelblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: lightsteelblue;
  background-color: lightsteelblue;
  color: black;
}
.navbar label {
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  margin-top: 2px;
  float: left;
}
.navbar button:hover {
  
  color: #ddd;
  height: auto;
}*/
// #logo {
//   height: 10%;
//   width: 10%;
// }
// #logo1 {
//   height: 10%;
//   width: 10%;
//   float: right;
// }
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar button {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar AddsPopup:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
